/* Formatação geral */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300;1,400&display=swap');

*{
	margin: 0;
	padding: 0;
}

/* Corpo */
body{

	background-color: white;
}    

/* Cabeçalho */

header{
	height: 400px;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

header h1{
	padding-top: 100px;
	font-size: 50pt;
	font-family: 'Kanit', sans-serif;
}

header h2{
	padding-top: 100px;
	font-size: 20pt;
	font-family: 'Kanit', sans-serif;
	line-height: 50px;
}

header h2 a{
	color: green;
}

/* Sobre */

section#sobre{
	height: 500px;
	width: 100%;
}

section#sobre article{
	max-width: 1000px;
	height: 100%;
	margin: auto;
	padding: 150px 150px 100px 100px;
	box-sizing: border-box;
}

section#sobre article figure:hover{
	transition: all 0.3s;
	transform: scale(1.1);
}

section#sobre article img{
	width: 300px;
	height: 200px;
	border: 8px solid white;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
	float: left;
}

section#sobre article h2{
	padding: 10px 0px 20px 475px;
	font-family:'Kanit', sans-serif;
}

section#sobre article p{
	width: 400px;
	float: right;
	line-height: 30px;
	font-size: 15pt;
	box-sizing: border-box;
	font-family:'Kanit', sans-serif; 
	text-align: justify;
}

/* Conteudo */

section#conteudo{
	max-width: 1000px;
	margin: auto;
	height: 400px;
	padding: 0px;
	box-sizing: border-box;
}

section#conteudo h2{
	background-color: red;
	font-family:'Kanit', sans-serif; 
	padding: 20px 0px 20px 460px;
	box-sizing: border-box;
}

section#conteudo div#conteudo1{
	width: 480px;
	height: 200px;
	background-color: yellow;
	float: left;
	margin-top: 70px;
}

section#conteudo div#conteudo2{
	width: 480px;
	height: 200px;
	background-color: yellow;
	float: right;
	margin-top: 70px;
}

/* Vídeos */

section#videos{
	height: 400px;
}

section#videos div.ajustarlargura{
	max-width: 1000px;
	height: 100%;
	margin: auto;
	padding:0px 20px 0px 50px;
	box-sizing: border-box;
}

section#videos div.ajustarlargura h2{
	/* background-color: yellow; */
	margin-top: 0px;
	padding: 10px 0px 10px 370px;
	box-sizing: border-box;
	font-family:'Kanit', sans-serif;
}

/* Inputs */

section#inputs{
	height: 400px;
	width: 100%;
	padding: 50px 0px;
	box-sizing: border-box;
}

section#inputs div{
	max-width: 1000px;
	height: 300px;
	background-color: yellowgreen;
	margin: auto;
	border-radius: 15px;
}	

section#inputs div h2{
	font-family:'Kanit', sans-serif;
	padding: 10px 0px 10px 370px;
}

section#inputs div ul{
	padding-left: 70px;
	box-sizing: border-box;
	padding-left: 40px;
}

section#inputs div ul li{
	font-family:'Kanit', sans-serif;
	font-size: 16pt;
	line-height: 50px;
	padding-left: 20px;
	box-sizing: border-box;
	list-style: disc;
}

/* Rodapé */

footer{
	background-color: black;
	border-radius: 15px;
	height: 480px;
	max-width: 1000px;
	padding-top: 100px;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
}

footer div{
	max-width: 1000px;
	margin: auto;
	height: 100%;
	font-size: 40pt;
	font-family:'Kanit', sans-serif;
	box-sizing: border-box;
	color:  white;
	line-height: 100px;
}